name: Ubuntu 24.04 CI Sanitized (GCC 13)

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Use cmake
        run: |
          set -xe
          cmake -B build \
             -DTEST_OD=ON
          cmake --build build --target barch --parallel
          ctest --output-on-failure