name: Ubuntu 22.04 CI (GCC 11)

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Use cmake
        run: |
          set -xe
          cmake -B build \
             -DTEST_OD=ON \
             -DCMAKE_CXX_FLAGS=' -Wall -Wextra '
      - name: build
        run: |
          cmake --build build --target barch --parallel
          cmake --build build --target lbarch --parallel
          ( cd build ; ctest --output-on-failure )
      - name: Log in to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@b798ed8388581f6f002541048b6458ca2c4ba442
        with:
          images: teejip/barch
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Prepare Release Artifacts
        run: |
          # Create a directory for the archive
          mkdir -p release_dist
          # Copy the library (adjust path if it's in a subdirectory of build)
          cp build/liblbarch.so release_dist/
          cp RUNVALKEY.md release_dist/README.md
          # Create the gzip archive
          tar -czvf barch-valkey-module-ubuntu22-x86_64.tar.gz -C release_dist liblbarch.so README.md
          mkdir -p release_py_dist
          cp build/_barch.so release_py_dist/
          cp build/barch.py release_py_dist/
          cp build/setup.py release_py_dist/
          cp RUNPY.md release_py_dist/README.md
          tar -czvf barch-py-ubuntu22-x86_64.tar.gz -C release_py_dist _barch.so setup.py barch.py README.md
      - name: Ubuntu 22.04 Python x86_64 Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: barch-py-ubuntu22-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Ubuntu 22.02 Valkey x86_64 Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: barch-valkey-module-ubuntu22-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}