name: Ubuntu 24.04 CI (GCC 13)

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Use cmake
        run: |
          set -xe
          cmake -B build \
             -DTEST_OD=ON \
             -DCMAKE_CXX_FLAGS=' -Wall -Wextra '
          cmake --build build --target barch --parallel
          cmake --build build --target lbarch --parallel
          ( cd build ; ctest --output-on-failure )
      - name: Prepare Release Artifacts
        run: |
          # Create a directory for the archive
          mkdir -p release_dist
          # Copy the library (adjust path if it's in a subdirectory of build)
          cp build/liblbarch.so release_dist/
          cp RUNVALKEY.md release_dist/README.md
          # Create the gzip archive
          tar -czvf barch-valkey-module-ubuntu24-x86_64.tar.gz -C release_dist liblbarch.so README.md
          mkdir -p release_py_dist
          cp build/_barch.so release_py_dist/
          cp build/barch.py release_py_dist/
          cp build/setup.py release_py_dist/
          cp RUNPY.md release_py_dist/README.md
          tar -czvf barch-py-ubuntu24-x86_64.tar.gz -C release_py_dist _barch.so setup.py barch.py README.md
      - name: Publish barch-py-ubuntu24-x86_64.tar.gz Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: barch-py-ubuntu24-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish barch-valkey-ubuntu24-x86_64.tar.gz Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: barch-valkey-module-ubuntu24-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}